@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .input-uber {
    @apply w-full bg-[#f2f2f2] rounded-xl px-4 py-3 text-sm
           placeholder:text-gray-400
           border border-transparent
           focus:outline-none focus:border-black;
  }
}